.corpo{
    width: 310px;
    display: 500px;
    display: block;
    border: solid 1px #069;
    border-radius: 19px;
    text-align: center;
    padding: 4px;
    margin: auto;
}

.div{
    text-align: center
}

.imagem{
    text-align: center
}

.but{
    text-align: center
}