.painel{
    width: 350px;
    display: 100px;
    display: block;
    border: solid 1px #069;
    border-radius: 10px;
    text-align: center;
    height: 565px;
    margin: auto;
}

.player{
    width: 280px;
    height: 200px;
    display: block;
    border: solid 1px #069;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 0.2cm;
    padding: 2px;
}

.btnimage{
    width: auto;
    padding: 2px;
    margin-bottom: 0.1cm;
    margin-left: 0.3cm;
    margin-right: 0.3cm;
}

.imagevs{
    margin-top: 0.3cm;
    margin-bottom: 0.2cm;
}

.computer{
    width: 230px;
    height: 156px;
    display: block;
    border: solid 1px #069;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 0.2cm;
    padding: 2px;
}